.boton1 {
  -webkit-animation: boton1 2s ease-out 1s 2;
  animation: boton1 2s ease-out 1s 2; }

@-webkit-keyframes boton1 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes boton1 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

.boton2 {
  -webkit-animation: boton2 2s ease-out 1s 2;
  animation: boton2 2s ease-out 1s 2; }

@-webkit-keyframes boton2 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes boton2 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

.boton3 {
  -webkit-animation: boton3 2s ease-out 1s 2;
  animation: boton3 2s ease-out 1s 2; }

@-webkit-keyframes boton3 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes boton3 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

.boton4 {
  -webkit-animation: boton4 2s ease-out 1s 2;
  animation: boton4 2s ease-out 1s 2; }

@-webkit-keyframes boton4 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes boton4 {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%; }
  header div img {
    width: 5rem; }

.inicio {
  background-image: url(../assets/banner-inicio2.jpg);
  background-size: cover;
  height: 37.5rem;
  align-items: center;
  justify-content: center;
  padding-top: 7.5rem; }
  .inicio article h1 {
    width: 100%;
    text-align: center;
    font-family: fantasy;
    font-size: xx-large;
    color: bisque; }
  .inicio article h3 {
    width: 100%;
    text-align: center;
    font-family: fantasy;
    font-size: x-large;
    color: bisque; }

.items {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1.875rem;
  justify-content: space-between;
  align-items: center; }
  .items div {
    display: flex;
    width: 20%;
    align-items: start;
    flex-direction: column;
    justify-content: end; }
    .items div img {
      width: 100%;
      height: 14.375rem; }
    .items div .desc-prod {
      font-family: Arial, Helvetica, sans-serif;
      color: #382323;
      font-size: large;
      text-align: start; }
    .items div .precio-prod {
      font-family: Arial, Helvetica, sans-serif;
      color: #382323;
      font-size: medium;
      text-align: start; }

.cont-nosotros h1 {
  background-image: url(../assets/arnaud-mesureur-17OxKyThYPo-unsplash.jpg);
  background-size: cover;
  height: 37.5rem;
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
  padding-top: 15.625rem; }

.nosotros {
  display: flex;
  width: 100%;
  justify-content: center; }
  .nosotros div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 6.25rem;
    gap: 2.5rem;
    padding-bottom: 6.25rem; }
    .nosotros div img {
      width: 18.75rem;
      height: 100%; }
    .nosotros div p {
      width: 18.75rem;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: large; }

.texto-tienda {
  width: 100%;
  height: 6.25rem;
  font-family: monospace;
  font-size: xx-large;
  text-align: center;
  padding-top: 6.25rem; }

.tienda {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 6.25rem 9.375rem 6.25rem 9.375rem;
  justify-content: center;
  gap: 1.25rem;
  align-items: center; }
  .tienda .articulo1, .tienda .articulo2 {
    background-image: linear-gradient(#d7fad7, #39a2d0, bisque); }
    .tienda .articulo1:hover, .tienda .articulo2:hover {
      transform: scale(1.05); }
    .tienda .articulo1 p, .tienda .articulo2 p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium; }
    .tienda .articulo1 img, .tienda .articulo2 img {
      width: 12.5rem;
      height: 15rem;
      padding: 1.25rem; }
  .tienda .articulo2 img {
    height: 15rem; }
  .tienda .articulo3, .tienda .articulo4, .tienda .articulo5, .tienda .articulo6, .tienda .articulo7, .tienda .articulo8 {
    background-image: linear-gradient(#d7fad7, #39a2d0, bisque);
    font-size: medium; }
    .tienda .articulo3:hover, .tienda .articulo4:hover, .tienda .articulo5:hover, .tienda .articulo6:hover, .tienda .articulo7:hover, .tienda .articulo8:hover {
      transform: scale(1.05); }
    .tienda .articulo3 img, .tienda .articulo4 img, .tienda .articulo5 img, .tienda .articulo6 img, .tienda .articulo7 img, .tienda .articulo8 img {
      width: 12.5rem;
      height: 15rem;
      padding: 1.25rem; }

.banner1 {
  background-image: url(../assets/banner-inicio2.jpg);
  background-size: cover;
  height: 37.5rem;
  width: 100%;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  padding-top: 6.25rem;
  color: #9b7200; }

.boton-desc {
  display: flex;
  justify-content: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }

.noticia {
  display: flex;
  height: 500px; }

.not1 {
  background-image: url(../assets/noti1.jpeg);
  background-size: cover;
  height: 100%;
  width: 50%;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 240px;
  color: #e6e6e6;
  text-align: center; }

.not2 {
  background-image: url(../assets/noti2.jpg);
  background-size: cover;
  height: 100%;
  width: 50%;
  font-size: x-large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 240px;
  color: #4e948a;
  text-align: center; }

.faq {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr); }

.nombre {
  align-items: center;
  justify-content: center; }
  .nombre h1 {
    background-image: url(../assets/banner-inicio.jpg);
    background-size: cover;
    width: 100%;
    height: 31.25rem;
    font-family: monospace;
    font-size: xx-large;
    text-align: center;
    padding-top: 12.5rem; }

.boton1 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .boton1 img {
    width: 6.25rem;
    height: 6.25rem; }
  .boton1 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-left: 12.5rem; }

.boton2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .boton2 img {
    width: 6.25rem;
    height: 6.25rem; }
  .boton2 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-left: 12.5rem; }

.boton3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .boton3 img {
    width: 6.25rem;
    height: 6.25rem; }
  .boton3 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-left: 12.5rem; }

.boton4 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
  .boton4 img {
    width: 6.25rem;
    height: 6.25rem; }
  .boton4 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    padding-left: 12.5rem; }

.barra-nav {
  background-color: antiquewhite;
  height: 6.25rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .barra-nav nav {
    width: 100%; }
    .barra-nav nav ul {
      display: flex;
      margin: 5rem;
      list-style: none;
      justify-content: space-between;
      gap: 5rem;
      align-items: center;
      list-style: none; }
      .barra-nav nav ul li {
        align-items: center; }
        .barra-nav nav ul li:hover {
          transform: scale(1.05); }
        .barra-nav nav ul li a {
          color: #60aded;
          text-decoration: none;
          list-style: none;
          font-size: x-large;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
          .barra-nav nav ul li a:hover {
            color: #0b4776;
            transition: color 1s; }

.footer {
  background-color: #adf8df;
  height: 6.25rem;
  text-align: center; }
  .footer h4 {
    font-size: x-large;
    align-items: center; }

@media (max-width: 768px) {
  header {
    height: 9.375rem;
    display: flex; }
  .barra-nav {
    background-color: antiquewhite;
    height: 9.375rem;
    flex-direction: column;
    justify-content: center; }
  header div img {
    width: 5rem;
    padding-top: 0; }
  .barra-nav nav ul {
    margin: 1rem; }
  .barra-nav nav ul li a {
    font-size: large; }
  .inicio {
    background-image: url(../assets/banner-inicio2-768.jpg); }
  .inicio article h1 {
    font-size: x-large; }
  .inicio article h3 {
    font-size: large; }
  .items {
    flex-wrap: wrap;
    padding: 1.875rem;
    justify-content: center;
    align-items: center; }
    .items div {
      width: 40%;
      padding: 1.25rem; }
      .items div img {
        width: 80%; }
      .items div .desc-prod {
        font-size: medium; }
      .items div .precio-prod {
        font-size: small; }
  .nosotros div {
    margin: 1.875rem; }
    .nosotros div img {
      width: 12.5rem;
      height: 100%; }
  .tienda {
    grid-template-columns: 1fr 1fr; }
  .footer h4 {
    font-size: large; } }

@media (max-width: 425px) {
  header {
    height: 7.5rem; }
  .barra-nav {
    height: 7.5rem; }
  .barra-nav nav ul {
    gap: 0;
    margin: 0;
    padding: 1.25rem; }
  header div img {
    width: 3.75rem;
    padding-top: 0; }
  .barra-nav nav ul li a {
    font-size: medium; }
  .inicio {
    background-image: url(../assets/banner-inicio2-425.jpg);
    height: 25rem; }
  .inicio article h1 {
    font-size: large; }
  .inicio article h3 {
    font-size: small; }
  .items div img {
    height: 7.5rem; }
  .items div .desc-prod {
    font-size: small; }
  .items div .precio-prod {
    font-size: x-small; }
  .cont-nosotros {
    background-size: cover; }
    .cont-nosotros h1 {
      height: 25rem; }
  .nosotros {
    flex-wrap: wrap; }
    .nosotros div {
      margin: 4.375rem; }
      .nosotros div img {
        width: 12.5rem;
        height: 100%; }
      .nosotros div p {
        padding-right: 1.875rem; }
  .tienda {
    grid-template-columns: 1fr; }
  .footer h4 {
    font-size: medium; } }

@media (max-width: 375px) {
  .barra-nav nav ul li a {
    font-size: medium; }
  .items {
    padding: 1.875rem;
    justify-content: center;
    align-items: center; }
    .items div {
      width: 40%; }
      .items div img {
        height: 6.25rem; }
      .items div .desc-prod {
        font-size: small; }
      .items div .precio-prod {
        font-size: x-small; }
  .nosotros div {
    margin: 2.5rem; }
    .nosotros div img {
      height: 15rem; } }

@media (max-width: 320px) {
  .barra-nav nav ul li a {
    font-size: small; }
  .items div img {
    width: 80%;
    height: 5rem; }
  .items div .desc-prod {
    font-size: x-small; }
  .items div .precio-prod {
    font-size: xx-small; }
  .nosotros div {
    margin: .625rem; }
    .nosotros div img {
      height: 15rem; }
    .nosotros div p {
      width: 100%;
      font-size: small;
      text-align: center; } }
