@media (max-width: 425px){
    header{
        height: 7.5rem;
    }
    .barra-nav{
        height: 7.5rem;
    }
    .barra-nav nav ul{
        gap: 0;
        margin: 0;
        padding: 1.25rem;
    }
    
    header div img{
        width: 3.75rem;
        padding-top: 0;
    }
    .barra-nav nav ul li a{
        font-size: medium;
    }
    .inicio{
        background-image: url(../assets/banner-inicio2-425.jpg);
        height: 25rem;
    }
    .inicio article h1{
        font-size: large;
    }
    .inicio article h3{
        font-size: small;
    }
    .items{
        div{
            img{
                height: 7.5rem;
            }
            .desc-prod{
                font-size: small;
            }
            .precio-prod{
                font-size: x-small;
            }
        }
    }
    .cont-nosotros{
        background-size: cover;
        h1{
            height: 25rem;
        }
    }
    .nosotros{
        flex-wrap: wrap;
        div{
            margin: 4.375rem;
            img{
                width: 12.5rem;
                height: 100%;
            }
            p{
                padding-right: 1.875rem;
            }
        }
    }

    .tienda{
        grid-template-columns: 1fr;
    }

    .footer h4{
        font-size: medium;
    }
}