@media (max-width: 375px){
    .barra-nav nav ul li a{
        font-size: medium;
    }
    .items{
        padding: 1.875rem;
        justify-content: center;
        align-items: center;
        div{
            width: 40%;
            img{
                height: 6.25rem;
            }
            .desc-prod{
                font-size: small;
            }
            .precio-prod{
                font-size: x-small;
            }
        }
    }
    .nosotros{
        div{
            margin: 2.5rem;
            img{
                height: 15rem;
            }
        }
    }
}