@media (max-width: 375px){
    .barra-nav nav ul li a{
        font-size: medium;
    }
    .items{
        padding: 1.875rem;
        justify-content: center;
        align-items: center;
    }
    .items div{
        width: 40%;
    }
    .items img{
        width: 60%;
    }
    .items div h4{
        font-size: small;
    }
    .items div h5{
        font-size: x-small;
    }
    .footer h4{
        font-size: small;
    }
}