.footer{
    background-color: rgb(173, 248, 223);
    height: map-get($tamano,l);
    text-align: center;
    h4{
        font-size: x-large;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        align-items: center;
        justify-content: center;
        padding-top: 2.1875rem;
    }
}