.banner1{
    background-image: url(../assets/banner-inicio2.jpg);
    background-size: cover;
    height: 37.5rem;
    width: 100%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    padding-top: map-get($tamano, l);
    color: $color-letra-inicio;
}

.boton-desc{
    display: flex;
    justify-content: center;
    background-color: #007acc;
    border-color: #007acc;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}
.boton-desc:hover {
    background-color: #ffae00;
    border-color: #ffae00;
}


.noticia{
    background-color: $color-fondo;
    height: 100vh;
    margin-right: 0;
    margin-left: 0;
}

.not1{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 240px;
    color: rgb(230, 230, 230);
    text-align: center;
}
.not2{
    background-size: cover;
    height: 100%;
    width: 50%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 240px;
    color: rgb(78, 148, 138);
    text-align: center;
}

