.inicio{
    background-image: url(../assets/banner-inicio2.jpg);
    background-size: cover;
    height: 37.5rem;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;
    article h1{ 
        width: 100%;
        text-align: center;
        font-family: fantasy;
        font-size: xx-large;
        color: $color-letra-inicio;
    }
    article h3{
        width: 100%;
        text-align: center;
        font-family: fantasy;
        font-size: x-large;
        color: $color-letra-inicio;
    }
}

.items{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1.875rem;
    justify-content: space-between;
    align-items: center;
    div{
        width: 20%;
    }
    img{
        width: 100%;
    }
}